$imageLocation:			'/Themes/clients/AOL/Images';
$imageLocationADE:		'/Themes/clients/AOL/ADE/Images';
$imageLocationANL:		'/Themes/clients/AOL/ANL/Images';
$imageLocationCommon:   '/Themes/Common/Images';
$contentLocation:		'//content.ao.com/images/';
$fontlocation:			'/fonts/MobileHomepage';