@mixin tablet {
	@include susy-breakpoint($tablet) {
		@content
	}
}

@mixin desktop {
	@include susy-breakpoint($desktop) {
		@content
	}
}

@mixin uber {
	@include susy-breakpoint($uber) {
		@content
	}
}


@mixin ao-container {
	@include container;
	padding: 0 gutter(6);

	@include susy-breakpoint($tablet, $tabletCol) {
		@include container($tablet);
		padding: 0 gutter(12);
	}

	@include susy-breakpoint($desktop, $desktopCol) {
		@include container($desktop);
		padding: 0 gutter(18);
	}

	@include susy-breakpoint($uber, $uberCol) {
		@include container($uber);
		padding: 0 gutter(24);
	}

}

@function calculateRem($size) {
  $remSize: $size / $defaultFontSize;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: ($size * 1px);
  font-size: calculateRem($size);

}


// Make a AO button
@mixin button($color: $aoGreen,$fontColor: $aoWhite,$fontSize: 16,$hoverFontColor: $fontColor) {

    width:auto;
    height:auto;
    min-height:32px;
    float:left;
    @include font-size($fontSize);
    line-height:38px;
    font-weight:normal;
    text-decoration:none;
    color:$fontColor;
    padding:0 0 0 9px;
    margin:5px 0;
    clear:left;
    border-radius: $aoRadius;
    cursor:pointer;
	min-width:150px;
    background-color: $color;

    .buttonArrow {
        float:right;
        margin-right:10px;
        vertical-align: middle;
        margin-top:10px;
    }

     &:hover{
		background-color:lighten($color, 5%);
        color:$hoverFontColor;
		text-decoration:none;

    }

}

@mixin star-rating($fontSize, $color, $starColor, $bgColor) {

	float: left;
	position: relative;

	.rating {

		font-family: 'ao-icons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		content: attr(data-icon);
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		@include font-size($fontSize);
		display: block;
		color: $color;
		float: left;
		z-index: 5;
		position: relative;

		&:before {
			color: $color;
			content: "\e63f";
		}
	}

	.ratingValue, .ratingBackground {

		position: absolute;
		top: 1px;
		bottom: 1px;
		left: 1px;

	}

	.ratingValue {

	    z-index: 4;
		background-color: $starColor;
	}

	.ratingBackground {

		right: 1px;
		background-color: $bgColor;
	}

	.ratingValue.ratingSprite_5-0 {
		width: 98%;
	}

}

@mixin responsiveStars($fontSize, $bgColor: #fff, $emptyStarColour: #a3abb1, $filledStarColour: #f9b916)
{

    position: relative;
    @include font-size($fontSize);
    height: $fontSize + px;
    width: $fontSize * 5px;
    display: block;

    &:before {
        color: $emptyStarColour;
        background-color: $bgColor;
        content: "\e900";
        position: absolute;
        top: 0;
        left: 0;
    }

    &:after {
        color: $filledStarColour;
        background-color: $bgColor;
        content: "\e900";
        position: absolute;
        left: 0;
        top: 0;
        overflow:hidden;
    }

    &.ratingSprite {

        $wholeNumbers: (1, 2, 3, 4);
        $decimalNumbers: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);

        @each $wholeNumber in $wholeNumbers {

            @each $decimalNumber in $decimalNumbers {

                &_#{$wholeNumber}-#{$decimalNumber} {
                    &:after {
                        width: (($wholeNumber * 10)+$decimalNumber) * 2%;
                    }
                }
            }
        }
    }
}
