// breakpoint
$tablet: 768px;
$desktop: 990px;
$uber: 1200px;
$mobileCol: 6;
$tabletCol: 12;
$desktopCol: 18;
$uberCol: 24;

// Susy global map
$susy: (
	columns:$mobileCol,
	container:$tablet,
	global-box-sizing: border-box,
	debug: (
		/*image:true*/
	)
);


/* file paths */
@import 'filePaths';

/* colors */
$aoBlack: #000;
$aoGreen: #7fba23;
$aoBlue: #0081b9;
$aoGrey: #a3abb1;
$aoLightGrey: #e5e5e5;
$aoDarkGrey: #3d4042;
$aoOrange: #fb8401;
$aoPink: #E51D6C;
$aoRed: #BB0708;
$aoWhite: #fff;
$aoGold: #f9b916;

$aoLinkColour:				#0081b9;
$aoHeaderColour:			#444444;
$defaultFontColor:			#444;
$headerColor:				#444;
$linkColor:					#0081b9;
$linkHoverColor:			#1a70bb;


$footerColor:               $aoDarkGrey;
$opacityValue:				80;
$errorText:                 #FF0000;
$borderColor:				#cfd1d2;
$aoTabBg:					#eee;
$aoSaleColour:				#b3232d;
$facebook:                  #405e9b;
$siteBackgroundColor:		#f3f5fb;

// chapter colors
$chapOrange:               $aoOrange;
$chapGreen:                $aoGreen;
$chapBlue:                #1abac8;
$chapPink:                $aoPink;
$chapPurple:                #4b2e66;
$chapBlack:                $aoBlack;


/* fonts */
$fontFamily: Arial, Helvetica, sans-serif;
$aoFontBold: ozBold, Arial, Helvetica, sans-serif;
$aoFont: ozReg, Arial, Helvetica, sans-serif;

$lineHeight:				16;
$fontsize:					62.5%;
$defaultFontSize:			16;
$tabFontSize:				16px;
$buttonFontSize:			16px;
$aoTabFontSize:				20px;

/* headers */
$header1Size:				24;
$header2Size:				22;
$header3Size:				20;
$header4Size:				18;
$header5Size:				16;


$header1LineHeight:			($header1Size+2);
$header2LineHeight:			($header2Size+2);
$header3LineHeight:			($header3Size+2);
$header4LineHeight:			($header4Size+2);
$header5LineHeight:			($header5Size+2);

$headerMargin:				'0 0 10px 0';
$headerPadding:				0;


/* button colours */
$primaryButtonColour: $aoGreen;
$secondaryButtonColour: $aoBlue;
$tertiaryButtonColour: $aoGrey;

/* misc */
$aoRadius: 3px;


// hide breadCrumbs on these pages
$pages: home lister productpage;


// Branding
$aoLightGreyNew:            #f7f5f6;
$aoGreyBorder:              #ededed;
$aoBlueNew:                 #0280bb;
$aoBlueLinkHover:           #005d86;
$aoFooterGrey:              #666666;
$aoFooterLightGrey:         #c7c7c5;
$aoFooterDarkGrey:          #888888;
$aoOrange:                  #f57301;
$aoDeals:                   #a93f3f;
$aoDeliveryOptionsBullets:  #dddddd;

// Z index control
$zIndex10:               10;
$zIndex15:               15;
$zIndex20:               20;
$zIndex200:             200; // used for mobile menu overlay
$zIndex201:             201; // used for mobile menu 1st level & .header
$zIndex202:             202; // used for mobile menu 2nd level & My Account login/logged out

$zIndex209:             209; // used for mega menu tablet / desktop
$zIndex210:             210; // used for top nav tablet / desktop
$zIndex211:             211; // used for top nav tablet / desktop

// radius
$aoMobileRadius:       15px;

$mobileCol: 6;
$tablet: 768px;
$tabletCol: 12;
$desktop: 990px;
$desktopCol: 18;
$uber: 1200px;
$uberCol: 24;

$mobileBodyTextSize: 12;
$tabletBodyTextSize: 14;
$desktopBodyTextSize: 14;

$aoTabletRadius: 6px;
