header {
	background:#3F94B0;
	width:100%;
	height:80px;
	border:1px solid darken(#296073,5%);
	margin-bottom:20px;

	h1 {
		color:#fff;
		text-align:center;
		padding-top:30px;
		font-family:arial;
		font-weight:bold;
	}
}
