.content {
	@include ao-container();
	background:#E0E0E0;
	border-radius:4px;
	padding:10px;

}

.results {
	@include span( 6 of 6);
	@include tablet {
		@include span(9 of 12);
	}
	padding-top:20px;


}

body {
	background:#F9F8F6;

}
.searchForm {
	@include span(6 of 6);
	@include tablet {
		@include span(3 of 12 last);
	}

	background:#66B2CC;
	border-radius:3px;

	/*margin-bottom:-5000px;*/
	margin-top:20px;
	margin-bottom:20px;

	div {
		@include font-size(16);
		margin-bottom:20px;
		text-align:left;
		padding-left:10px;
		color:#fff;
	}

	h2 {
		padding:20px 0 0 10px;
		margin-bottom:20px;
		color:#fff;
	}
}

#ratingSort {
	width:80%;
	height:30px;
	@include font-size(14);

}

.hotelItem {
	padding:10px;
	margin-bottom:20px;
	background:#fff;
	border-radius:4px;
	height:100%;
	transition:all .8s ease;

	&:after {
		content:'';
		display:block;
		clear:both;
	}

	.hide {
		display:none!important;
	}


	img {
		height:100px;
		width:auto;
		float:left;
		margin-right:20px;
	}

	p {
		display:inline-block;
		vertical-align:middle;

			margin-right:10px;

	}

	h2 {
		font-family:arial;
		@include font-size(26);
		line-height:1;

	}

	.rating {
		font-weight:bold;
	}

	.facilities {
		display:block;
		@include font-size(14);
		line-height:0.7;
		margin-bottom:3px;
	}



	.goldRating {
		color:gold;
	}

	ul {
		list-style:disc;
		li {
			display:inline-block;
			margin-right:10px;
			@include font-size(14);
		}
	}
}
